#my-gallery-container {
     background-color: #ededed;
}
p {
     color: #4d4d4d;
}
.item {
     border: #c6c6c6 2px solid;
     width: 100%;
     background-color: white;
     min-height: 100px;
     padding: 5px;
     margin: 10px 0px;
     box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 2px;
     border-radius: 4px;,
     
}

.item:hover {
     opacity: 0.5;
}
.item p {

}
.item.h150{
     width: 100%;
     min-height: 150px;
}

.item.h200{
     width: 100%;
     min-height: 200px;

}

.item.h250{
     width: 100%;
     min-height: 200px;
}
.padding{
     padding: 10px 5px;
}
ul.barter-types {
    list-style-type: none;
}
div.barter:not(:last-child){
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid #eee;
}
div.barter h3 {
    margin-top: 0.5em;
}
div.barter p.barter-info {
    margin-bottom: 0;
}
div.paginator {
    text-align: center;
}

ul.barter-info-description {
    list-style-type: none;
    margin-bottom: 1em;
}
ul.barter-info-description li{
    display: inline-block;
    margin-right: 1em;
}
div.barter-content{
    text-indent: 2em;
    margin-bottom: 2em;
}
div.barter-more {
    margin-top: 1em;
}

div.comment-area {
    margin-top: 2em;
}
h3.comment-area-title {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.4em;
}

div.django-ckeditor-widget {
    width: 100%;
}

div.comment {
    border-bottom: 1px dashed #ccc;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
}
div.reply {
    margin-left: 2em;
}
div#reply_content_container {
    border: 1px solid #d1d1d1;
    border-bottom: none;
    background-color: #f8f8f8;
    overflow: hidden;
    padding: 1em 1em 0.5em;
}
p#reply_title {
    border-bottom: 1px dashed #ccc;
    padding-bottom: 0.5em;
}

div.like {
    color: #337ab7;
    cursor: pointer;
    display: inline-block;
    padding: 0.5em 0.3em;
}

div.like .active{
    color: #f22;
}

.h2-font{ 
     color: transparent;
     -webkit-text-stroke: 1px black;
     letter-spacing: 0.04em;
   }